.seccion4{
    display: inline-flex;
    width: 100%;
    margin-top: 5rem;
    /* background-color: papayawhip; */
}

.seccion4 article{
    width: 55%;
    /* background-color: aliceblue; */
}

.seccion4 h2{
    font-size: 45px;
    color: #1f3e72;
    margin-left: 7.4rem;
}

.seccion4 p{
    color: #78859b;
    font-size: 24px;
    margin-left: 7.4rem;
    width: 70%;
}

.seccion4 .contacto{
    /* display: inline-flex; */
    /* justify-content: space-between; */
    background-color: pink;
    padding-left: 7.4rem;
    width: 100%;
}

.seccion4 div .tarjeta{
    /* text-align: center; */
    display: inline-flex;
    /* justify-content: space-between; */
    /* width: 45%; */
    background-color: grey;
}

.seccion4 div .infoContacto{
    /* text-align: center; */
    /* display: inline-flex; */
    /* justify-content: space-between; */
    /* width: 45%; */
    background-color: red;
}


.seccion4 div .icon{
    background-color: aqua;
}

.seccion4 div .infoContacto h3{
    background-color: blue;
}

.seccion4 div .infoContacto p{
    background-color: azure;
    margin-left: 0px;
}





/*imgCell*/
.seccion4 .imgCel{
    background-image: url("../Img/using-cellphone-no-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 45%;
    margin-top: 15rem;
}