.seccion4{
    display: inline-flex;
    width: 100%;
    margin-top: 5rem;
    /* background-color: papayawhip; */
}

.seccion4 article{
    width: 55%;
    /* background-color: aliceblue; */
}

.seccion4 h2{
    font-size: 45px;
    color: #1f3e72;
    margin-left: 7.4rem;
}

.seccion4 p{
    color: #78859b;
    font-size: 24px;
    margin-left: 7.4rem;
    width: 70%;
}

.seccion4 .contacto{
    /* background-color: pink; */
    justify-content: space-around;
    margin-left: 7.4rem;
    width: 40rem
}

.seccion4 div .tarjeta{
    display: inline-block;
    /* background-color: grey; */
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(249,249,254,255);
    width: 16rem;
    margin: .5rem;
}

.seccion4 div .tarjeta .iconoDatos{
    display: inline-flex;
}

.seccion4 div .tarjeta .iconoDatos .icon{
    background-color: #eef3ff;
    padding: .3rem;
    border-radius: 10px;
    border-style: solid;
    border-color: #eef3ff;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.seccion4 div .tarjeta .iconoDatos .infoContacto{
    /* background-color: white; */
    padding: .3rem;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.seccion4 div .tarjeta .iconoDatos .infoContacto ul{
    list-style: none;
    padding-left: 0px;
}

.seccion4 div .tarjeta .iconoDatos .infoContacto ul li h2{
    font-size: 19px;
    margin-left: 0px;
}


.seccion4 div .tarjeta .btnContacto{
    background-color: #eef3ff;
    color: #1f3e72;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


/* .seccion4 div .infoContacto{
    background-color: red;
}


.seccion4 div .icon{
    background-color: aqua;
}

.seccion4 div .infoContacto h3{
    background-color: blue;
}

.seccion4 div .infoContacto p{
    background-color: azure;
    margin-left: 0px;
} */





/*imgCell*/
.seccion4 .imgCel{
    background-image: url("../Img/using-cellphone-no-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 45%;
    margin-top: 5rem;
}