.seccion2{
    display: inline-block;
    width: 100%;
}

.seccion2 article{
    background-color: grey;
    width: 50%;
    margin-bottom: 2rem;
}

.seccion2 article h2{
    font-size: 45px;
    color: #1f3e72;
    margin-left: 7.4rem;
    margin-top: 7.4rem;
    margin-bottom: 0;
    background-color: green;
}

.seccion2 article p{
    background-color: aquamarine;
    color: #78859b;
    font-size: 24px;
    margin-left: 7.4rem;
}

/*tarjeta*/
.seccion2 div{
    display: inline-flex;
    background-color: papayawhip;
    width: 100%;
    justify-content: center;
}

.seccion2 div .tarjeta{
    display: inline-block;
    margin: .5rem;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    border-width: 2px;
    width: 20%;
    background-color: aliceblue;
}

.tarjeta img{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 0px;
}

.tarjeta .titulo{
    color: #1f3e72;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 25px;
    background-color: aqua;
}

.tarjeta .descripcion{
    color: #78859b;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 20px;
    background-color: aquamarine;
}