

.Seccion1{
    width: 100%;
    display: flex;
}

.textoSeccion1{
    padding-top: 2.9rem;
    padding-left: 7.4rem;
    height: 50%;
    width: 50%;
}

.descripcion{
    margin-top: 0;
    width: 400px;
    margin-bottom: 30px;
    line-height: 28px;
}

.imgSeccion1{
    float: right;
    width: 50%;
}

/* .Imagen1{
    background-image: url(../Img/nurse-red-mask-injection.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-color: black;
} */
/* 

div .textoSeccion1 article p{
    font-size: 30px;
    color: papayawhip;
    text-align: center;
}

div .textoSeccion1 article{
    font-size: 15px;
    color: red;
    text-align:justify;
} */

/* 
.textoSeccion1{
    flex: 1;
    width: 50%;
    text-align:center;
    background-color: blue;
}

.textoSeccion1 p{
    top: 50%;
    font-weight: bold;
    font-size: 50px;
    color: red;
    text-align: center;
    
}


.imgSeccion1{
    float: right;
    width: 50%;
} */