.seccion1{
    display: inline-flex;
    background-color: #ffffff;
    width: 100%;
    /* height: 50rem; */

}

article{
    /* background-color: bisque; */
    width: 50%;
}

article h1{
    /* display: inline-flex; */
    font-size: 40px;
    color: #1f3e72;
    margin-left: 7.4rem;
    margin-top: 7.4rem;
    margin-bottom: 0;
    width: 50%;
    /* background-color: green; */
}

article p{
    /* background-color: aquamarine; */
    color: #78859b;
    font-size: 24px;
    width: 50%;
    margin-left: 7.4rem;
}

article div{
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 7.4rem;
    margin-top: 2rem;
    /* background-color: grey; */
}

article div label{
    font-size: 15px;
    font-weight: bold;
    color: #78859b;
}

article div label img{
    width: 15px;
    height: 15px;
}

/*schedule*/
.schedule{
    margin-top: 5rem;
    display: block;
    /* background-color: green; */
}

.form{
    /* display: flex; */
    border-radius: 3px;
    margin: 0;
    background-color: grey;
    opacity: 0.5;
    width: 100%;
}


/*imagen enfermera*/
.imgInjection{
    width: 50%;
    background-image: url("../Img/nurse-red-mask-injection.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}


/*Vacunas*/
.logoVacunas{
    display: inline-flex;
    justify-content: center;
    height: 10rem;
    width: 100%;
}

.defValues{
    background-image: url("../Img/logo1.png");
    width: 23%;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.logo1{
    background-image: url("../Img/logo1.png");
}
.logo2{
    background-image: url("../Img/logo2.png");
}
.logo3{
    background-image: url("../Img/logo3.png");
}
.logo4{
    background-image: url("../Img/logo4.png");
}