.seccion2{
    display: inline-block;
    width: 100%;
}

.seccion2 article h2{
    /* display: inline-flex; */
    font-size: 45px;
    color: #1f3e72;
    margin-left: 7.4rem;
    margin-top: 7.4rem;
    margin-bottom: 0;
    width: 50%;
    background-color: green;
}

.seccion2 article p{
    background-color: aquamarine;
    color: #78859b;
    font-size: 24px;
    width: 50%;
    margin-left: 7.4rem;
}